.showposts-loop{
  .no-featured-image{
    .loop__item__thumbnail{
      display: none;
    }
  }

  .loop__item__thumbnail--linkoverlay2{
    display: none;
  }

  .loop__item__info {
    padding: 20px 0;
  }

  .entry-title{
    margin-bottom: 15px;
    font-weight: 600;
  }

  .loop__item__desc{
    line-height: 1.8;
    font-size: 13px;
    margin-bottom: 15px;
    font-weight: 300;
  }

  .loop__item__meta{
    font-size: 12px;
  }

  .loop__item__meta--item{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }

  .comments-link,
  .la-favorite-link{
    i.fa{
      width: 16px;
      margin-right: 5px;
      &:before{
        display: none;
      }
      svg{
        vertical-align: middle;
        width: 100%;
        height: auto;
        display: inline-block;
      }
    }
  }

  .loop__item__termlink{
    &:before{
      content: '/';
      padding-right: 5px;
      font-size: 0.8em;
    }
  }

  .loop__item__meta--footer {
    @extend %text-color-secondary;
  }

  .blog__item{
    &.format-audio,
    &.format-video{
      .loop__item__thumbnail--linkoverlay2{
        display: inherit;
        .pf-icon{
          position: absolute;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          left: 50%;
          top: 50%;
          background-color: #fff;
          color: #232324;
          font-size: 16px;
          @include translate2d(-50%,-50%);
          @include border-radius(50%);
          &:after{
            @include dl_icon();
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            line-height: 1;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            vertical-align: middle;
            margin-top: -1px;
            margin-left: 3px;
          }
        }
      }
    }
    &.format-video .pf-icon:after{
      content: "\3e";
    }
    &.format-audio .pf-icon:after{
      content: "\5b";
    }
  }
}

.loop__item__thumbnail .slick-slider .slick-arrow {
  background: #fff;
  color: #232324;
  margin: 0 20px;
  width: 50px;
  height: 50px;
  font-size: 24px;
}


/****   LIST LAYOUT   ****/
.showposts-loop{
  &.showposts-list{
    .loop__item__inner {
      margin-bottom: 30px;
    }

    .loop__item__info{
      text-align: center;
      padding-left: 8%;
      padding-right: 8%;
    }
    .loop__item__info2{
      max-width: 770px;
      margin: 0 auto;
    }
    .loop__item__meta--footer{
      display: none;
    }
    .loop__item__one:empty{
      display: none;
    }
    .loop__item__two,
    .loop__item__one{
      @extend %clearfix;
      margin-left: -15px;
      margin-right: -15px;
      .blog__item{
        float: left;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .loop__item__one{
      .loop__item__desc{
        margin-bottom: 0;
      }
    }
    .loop__item__two{
      .blog__item{
        width: 50%;
      }
      .loop__item__desc{
        margin-bottom: 20px;
      }
    }

    &.list-1{
      .loop__item__thumbnail--bkg{
        img{
          display: none;
        }
      }
      .loop__item__one{
        .loop__item__thumbnail--bkg{
          padding-bottom: 48% !important;
        }
      }
      .loop__item__two{
        .loop__item__thumbnail--bkg{
          padding-bottom: 78% !important;
        }
        .loop__item__info{
          text-align: inherit;
          padding-left: 0;
          padding-right: 0;
        }
        .loop__item__meta--footer{
          display: block;
        }
        .entry-title{
          @media (min-width: 1200px){
            font-size: 18px;
          }
        }
      }
      .btn-readmore{
        font-size: 13px;
        border: 2px solid #D4D4D4;
        font-weight: 400;
        padding: 11px 35px;
        display: inline-block;
        @include single-transition();
        &:hover{
          @extend %border-color-secondary;
          @extend %background-color-secondary;
          color: #fff;
        }
      }
    }
  }
}

/****   GRID LAYOUT   ****/
.showposts-loop{
  &.grid-1{
    .loop__item__inner{
      margin-bottom: 20px;
      @include box-shadow(3px 2px 15px 0px rgba(213, 213, 213, 0.2));
    }
    .loop__item__info{
      background-color: #fff;
      padding: 25px 30px;
    }
  }
  &.grid-2{
    .loop__item__info{
      text-align: center;
    }
    .loop__item__meta--footer{
      display: none;
    }
    .loop__item__inner{
      margin-bottom: 30px;
    }
  }
  &.grid-3{
    .loop__item__desc{
      padding: 5px 0 10px;
    }
    .btn-readmore{
      font-size: 13px;
      border: 2px solid #D4D4D4;
      font-weight: 400;
      padding: 11px 35px;
      display: inline-block;
      @include single-transition();
      &:hover{
        @extend %border-color-secondary;
        @extend %background-color-secondary;
        color: #fff;
      }
    }
  }
}


/** Hover **/

.showposts-loop{
  .loop__item__thumbnail{
    .loop__item__thumbnail--bkg{
      &[data-element-loaded="true"]{
        @include scale(1.1);
        @include single-transition(transform,.5s);
      }
    }
    .loop__item__thumbnail--linkoverlay {
      background-color: #000;
      opacity: 0;
    }
  }
  .loop__item__inner{
    &:hover{
      .loop__item__thumbnail--bkg{
        &[data-element-loaded="true"]{
          @include scale(1);
        }
      }
      .loop__item__thumbnail--linkoverlay {
        opacity: 0.1;
      }
    }
  }
}

.gitem-zone-height-mode-original2{
  img{
    display: none;
  }
}
.slick-initialized + .loop__item__thumbnail--bkg{
  display: none;
}

.blog-main-loop.grid-space-default .loop__item__inner {
  margin-bottom: 30px;
}

/** Responsive **/

@media (max-width: 1500px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 800px) {

}

@media (max-width: 767px) {
  .showposts-loop.showposts-list .loop__item__inner{
    margin-bottom: 20px;
  }
  .showposts-loop.showposts-list .loop__item__two .loop__item__desc {
    margin-bottom: 10px;
  }
  .showposts-loop.showposts-list.list-1 .loop__item__two .loop__item__info {
    text-align: center;
  }
  .showposts-loop.showposts-list .loop__item__info{
    padding-left: 0;
    padding-right: 0;
  }
  .showposts-loop.showposts-list .loop__item__two .blog__item{
    width: 100%;
  }
}

