.single-post-content > .entry-thumbnail,
.single-post-content > .blog_item--thumbnail,
.single-post-content > .blog__item > .blog_item--thumbnail {
  margin-bottom: 20px;
}

.tags-list{
  margin-bottom: 20px;
  display: block;
  i{
    padding-right: 5px;
  }
}

.single_post_item--title .entry-title {
  margin-top: 0;
}

.entry-content{
  margin-bottom: 20px;
  line-height: 24px;
  .wpb_content_element{
    margin-bottom: 22px;
  }
  p{
    margin-bottom: 22px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .wpb_wrapper{
    > ul{
      padding: 0;
    }
  }
}
.entry-meta-footer{
  .tags-list{
    float: left;
    margin: 0;
  }
}

.author-info{
  float: left;
  border: 1px solid #E4E4E4;
  padding: 30px 30px 20px;
}
.author-info__avatar{
  display: table-cell;
  vertical-align: top;
  .author-info__avatar-inner {
    margin-right: 30px;
    width: 85px;
  }
  img.avatar{
    width: 100%;
    @include border-radius(50%);
  }
}
.author-info__description{
  display: table-cell;
  position: relative;
  top: -5px;
}
.author-info__bio,
.author-info__title {
  display: inline-block;
}
.author-info__bio{
  margin-bottom: 10px;
}
.author-info__name{
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.author-info__name,
.author-info__link{
  @extend %text-color-secondary;
}

.author-info__description .social-media-link {
  font-size: 12px;
  margin-top: 25px;
}

.la-sharing-single-posts {
  float: left;
  position: relative;
  > span{
    i{
      padding-left: 5px;
    }
  }
  > span{
    display: inline-block;
  }
  .social--sharing{
    a{
      margin: 0;
    }
  }
}

.post-navigation{
  margin-bottom: 6%;
  @extend %clearfix;
  .nav-next,
  .nav-previous{
    float: left;
    width: 50%;
    text-align: left;
  }
  a{
    color: inherit;
    display: inline-block;
  }
  .nav-previous{
    padding-left: 30px;
    background: url(assets/images/arrows-stre-left.png) no-repeat left center;
  }
  .nav-next{
    float: right;
    text-align: right;
    padding-right: 30px;
    background: url(assets/images/arrows-stre-right.png) no-repeat right center;
  }
  .nav-links span {
    display: block;
  }
  .meta-nav{
    font-size: 12px;
  }
  .post-title{
    @extend %text-color-secondary;
  }
}

.page-header-vhide{
  .single-post-content{
    &.type-post{
      > .entry-header,
      > .entry-meta{
        display: block;
      }
    }
  }
}


.entry-thumbnail.not-full {
  float: left;
  margin: 10px 30px 10px 0;
}


.single-post-content{
  .entry-content{
    h1, h2, h3{
      margin-bottom: 15px;
    }
    > .la-blockquote {
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }

  .la-breadcrumbs{
    font-size: 0.9285714286em;
    margin-bottom: 2em;
  }

  .entry-footer{
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    margin-top: 30px;
  }
}

.related-posts-design-1{
  margin-top: 50px;
  .la-related-posts {
    margin-bottom: 55px;
  }
  .block_heading{
    .block_heading--title{
      text-align: center;
      font-weight: normal;
      span{
        &:after{
          content: '';
          display: block;
          height: 2px;
          width: 60px;
          margin: 20px auto 0;
          @extend %background-color-primary;
        }
      }
    }
  }
}

.related-posts-design-2{
  background: url(assets/images/bg-single-post.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  padding-top: 50px;
  .la-related-posts:first-child{
    margin-bottom: 0;
  }
  .block_heading--title{
    font-size: inherit;
    text-transform: uppercase;
    span{
      padding: 0 20px;
      position: relative;
      &:before,
      &:after{
        content: '';
        width: 35px;
        border-top: 2px solid;
        top: 50%;
        margin-top: -1px;
        position: absolute;
      }
      &:before{
        left: 100%;
      }
      &:after{
        right: 100%;
      }
    }
  }

  .entry-title,
  .block_heading--title{
    color: inherit;
  }
  .container{
    width: 630px;
  }
  .loop__item__meta{
    display: none;
  }
  .entry-title{
    margin-bottom: 10px;
    a{
      color: #fff;
    }
  }
  .loop__item__meta--footer{
    display: block;
  }
  .btn-readmore{
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    padding: 13px 35px;
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
}

.single-post{
  .site-main{
    padding-bottom: 0;
  }
}


.wpb_single_image.single-big-playicon {
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate2d(-50%,-50%);
}

.single-post-content .format-gallery .slick-slide img {
  width: 100%;
}


.single_post_quote_wrap{
  position: relative;
  .quote-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(52,53,56,0.4);
    color: #fff;
    height: 100%;
    padding: 8%;
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      margin-left: -.5em;
      vertical-align: middle;
    }
    .format-content {
      display: inline-block;
      vertical-align: middle;
      width: 410px;
      max-width: 84%;
      @extend %three-font-family;
    }
    p{
      font-size: 36px;
      line-height: normal;
    }
    .quote-author{
      font-size: 18px;
      border-top: 2px solid;
      padding-top: 5px;
      display: inline-block;
    }
  }
}

.loop__item__thumbnail{
  .single_post_quote_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.showposts-grid{
  .single_post_quote_wrap{
    .quote-wrapper{
      .format-content{
        width: 310px;
      }
      p{
        font-size: 22px;
      }
    }
  }
}

@media(max-width: 767px){
  .single_post_quote_wrap .quote-wrapper p {
    font-size: 20px;
  }
}

@media(min-width: 1200px){
  .la-sharing-single-posts{
    position: static;
    > span{
      display: none;
    }
    .social--sharing{
      position: absolute;
      visibility: visible;
      opacity: 1;
      left: -80px;
      right: auto;
      top: 0;
      bottom: auto;
      z-index: 2;
      a{
        width: 50px;
        height: 50px;
        display: block;
        line-height: 50px;
        border: 1px solid #D4D4D4;
        border-radius: 50%;
        color: #D4D4D4;
        transition: all .3s;
        margin-bottom: 10px;
        font-size: 20px;
        &:not(:hover){
          background-color: transparent;
        }
        &:hover{
          border-color: transparent;
        }
      }
      &.is_stuck {
        left: auto;
        margin-left: -95px;
      }
    }
  }
}

.single_post_item--title{
  &.entry-header-below{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .entry-title{
      width: 100%;
    }
  }
  .psingle-right{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    > div{
      display: inline-block;
      margin-left: 20px;
      &:first-child{
        margin-left: 0;
      }
    }
    i{
      font-size: 15px;
      line-height: 20px;
      vertical-align: middle;
      padding-right: 10px;
    }
    span{
      display: inline-block;
      line-height: 20px;
      vertical-align: middle;
    }
  }
}

@media(max-width: 800px){
  .single_post_item--title.entry-header-below{
    display: block;
  }
  .single_post_item--title .psingle-right {
    padding-bottom: 20px;
  }
}