// Sidebar Widget
.sidebar-inner{
  font-size: 14px;
  .widget{
    margin-bottom: 50px;
    .widget-title{
      margin: 0 0 25px;
      font-size: 18px;
      font-weight: 600;
    }
    select {
      height: 50px;
      width: 100%;
      padding: 10px 30px;
    }
    &.widget-border{
      margin-bottom: 20px;
    }
    &.widget-border-bottom{
      margin-bottom: 40px;
    }
  }
  ul.menu{
    li{
      padding: 5px 0;
      margin-bottom: 10px;
      @extend %text-color-heading;
      ul{
        padding-left: 0;
        padding-top: 15px;
        li{
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .narrow{
        top: 3px;
        height: 30px;
        line-height: 30px;
        i{
          margin-top: 13px;
        }
      }
      &.current-menu-item,
      &.current-menu-ancestor,
      &.current-cat,
      &.current-cat-parent,
      &.open,
      &:hover{
        > a {
          text-decoration: underline;
        }
      }
    }
  }
  .TweetAuthor-name,
  .TweetAuthor-avatar{
    display: none;
  }
  .widget_tag_cloud{
    .tagcloud{
      a{
        font-size: inherit !important;
        &:not(:last-child){
          &:after{
            content: '/';
            font-size: .8em;
            padding-left: 2px;
          }
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.widget.widget_product_tag_cloud .tagcloud{
  @extend %text-color-secondary;
}

.sidebar-inner{
  .dokan-category-menu{
    border: none;
    .widget-title {
      background: none;
      padding: 0;
      border: none;
      @extend %text-color-heading;
    }
    #cat-drop-stack > ul li.parent-cat-wrap{
      background: none;
      padding: 5px 0;
      margin-bottom: 10px;
      @extend %text-color-secondary;
      a{
        border: none;
        margin: 0;
        padding: 0;
        color: inherit;
        font-size: inherit;
        font-weight: normal !important;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}