/**
 * The admin stylesheet for Veera.
 *
 * @package Veera
 * @author  LA-Studio
 * @link
 */
/*------------------------------------------------------------------
[Table of contents]
  1. CSS General
  2. MegaMenu
  3. Button
-------------------------------------------------------------------*/


/*--------------------------------------------------------------
	1. CSS General
---------------------------------------------------------------*/
#customize-controls .la-field-la_ace_editor .ace_editor {
    min-height: 250px;
}

/*--------------------------------------------------------------
    2. MegaMenu
---------------------------------------------------------------*/

.lastudio-megamenu-settings{
    display: block;
    clear: both;
}
.lastudio-megamenu-settings h3{
    margin: 0 !important;
    padding: 10px 0;
    font-size: 1.077em;
}

.lastudio-megamenu-custom-fields .la-element h4{
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    line-height: 30px;
}
.lastudio-megamenu-settings .la-element .la-title {
    width: 120px;
    margin-bottom: 0;
    display: inline;
}
.lastudio-megamenu-settings .la-element .la-fieldset {
    margin-left: 0;
}
.lastudio-megamenu-settings .la-field-textarea textarea{
    min-height: 0;
}
.lastudio-megamenu-custom-fields > .la-element:before,
.lastudio-megamenu-custom-fields > .la-element:after,
.lastudio-megamenu-custom-fields > .la-element{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lastudio-megamenu-custom-fields > .la-element{
    padding: 10px 0;
    display: none;
}
.lastudio-megamenu-custom-fields > .la-element p{
    margin-top: 5px;
}
.lastudio-megamenu-settings .la-field-icon input {
    display: block;
    float: left;
    padding: 5px 5px;
    margin: 0 5px 0 0;
    width: 120px;
}
.lastudio-megamenu-settings .la-element-tip-label input {
    width: 200px;
}
.lastudio-megamenu-settings .la-element.la-element-columns .la-title,
.lastudio-megamenu-settings .la-element.la-field-autocomplete .la-title {
    width: 100%;
    margin-bottom: 5px;
}
.lastudio-megamenu-settings .la-element.la-field-autocomplete .la-title .la-text-desc,
.lastudio-megamenu-settings .la-element.la-element-columns .la-title .la-text-desc{
    margin-top: 0;
}
.lastudio-megamenu-settings .la-element.la-field-autocomplete .la-title h4,
.lastudio-megamenu-settings .la-element.la-element-columns .la-title h4 {
    line-height: normal;
}

.lastudio-megamenu-custom-fields > .la-element.show{
    display: block;
}

.lastudio-megamenu-custom-fields > .la-element.la-element-tip-label,
.lastudio-megamenu-custom-fields > .la-element.la-element-tip-color,
.lastudio-megamenu-custom-fields > .la-element.la-element-tip-background,
.lastudio-megamenu-custom-fields > .la-element.la-element-dont-link,
.lastudio-megamenu-custom-fields > .la-element.la-element-dont-show-a-link,
.lastudio-megamenu-custom-fields > .la-element.la-element-custom-icon{
    display: block;
}
.menu-item-depth-0 .lastudio-megamenu-custom-fields > .la-element.la-element-show-only-icon,
.menu-item-depth-0 .lastudio-megamenu-custom-fields > .la-element.la-element-custom-styles-for-popup,
.menu-item-depth-0 .lastudio-megamenu-custom-fields > .la-element.la-element-menu-type{
    display: block;
}
.lastudio-megamenu-custom-fields .la-field-upload input {
    width: 300px;
}
.lastudio-megamenu-custom-fields .la-autocomplete{
    display: block;
    clear: both;
}
.lastudio-megamenu-settings .la-fieldset .wp-picker-container {
    width: inherit;
    display: inline-block !important;
    margin: 0;
}
.wpb_column_container .wpb_vc_row_inner.wpb_sortable{
    margin-bottom: 0;
}

.la-metabox-framework .la-body .la-element.la-element-enable-small-layout{
    display: none !important;
}
.post-type-post .la-metabox-framework .la-body .la-element.la-element-enable-small-layout:not(.hidden){
    display: block !important;
}

.lastudio-megamenu-custom-fields > .la-element.la-element-submenu-position{
    display: block;
}
.menu-item-depth-0 .lastudio-megamenu-custom-fields > .la-element.la-element-submenu-position{
    display: none;
}

.la-element-header-mobile-layout .la-field-image-select {
    max-width: 300px;
}
.group-disable-clone .la_group__action-clone.la-clone-group {
    display: none !important;
}
.lastudio-megamenu-custom-fields .la-element-force-full-width .la-text-desc {
    clear: both;
    margin-left: 0;
}

/** Disable revolution Update Notice **/
.plugins tr[data-slug="slider-revolution"] + .plugin-update-tr,
.plugins tr[data-slug="slider-revolution"] + tr + .plugin-update-tr,
.rs-dashboard div#updates_dw {
    display: none;
}

li#customize-control-woocommerce_catalog_columns {
    display: none !important;
}

.vc_container_for_children .wpb_content_element:hover > .wpb_element_wrapper {
    background-color: rgba(128, 128, 128, 0.05);
}

/**
LaStudio Icon
**/
[class*="dl-icon-"]{
    font-family: 'dl-icon';
    direction: ltr;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dl-icon-heart:before {
    content: "\61";
}
.dl-icon-search1:before {
    content: "\62";
}
.dl-icon-cart1:before {
    content: "\63";
}
.dl-icon-menu1:before {
    content: "\64";
}
.dl-icon-heart2:before {
    content: "\65";
}
.dl-icon-compare1:before {
    content: "\66";
}
.dl-icon-compare2:before {
    content: "\67";
}
.dl-icon-compare3:before {
    content: "\68";
}
.dl-icon-compare4:before {
    content: "\69";
}
.dl-icon-menu2:before {
    content: "\6a";
}
.dl-icon-cart2:before {
    content: "\6b";
}
.dl-icon-search3:before {
    content: "\6c";
}
.dl-icon-search2:before {
    content: "\6d";
}
.dl-icon-close:before {
    content: "\6e";
}
.dl-icon-clock:before {
    content: "\6f";
}
.dl-icon-stats1:before {
    content: "\70";
}
.dl-icon-search4:before {
    content: "\71";
}
.dl-icon-search5:before {
    content: "\72";
}
.dl-icon-search6:before {
    content: "\73";
}
.dl-icon-search7:before {
    content: "\74";
}
.dl-icon-search8:before {
    content: "\75";
}
.dl-icon-search9:before {
    content: "\76";
}
.dl-icon-comment1:before {
    content: "\77";
}
.dl-icon-cart3:before {
    content: "\78";
}
.dl-icon-cart4:before {
    content: "\79";
}
.dl-icon-cart5:before {
    content: "\7a";
}
.dl-icon-cart6:before {
    content: "\41";
}
.dl-icon-cart7:before {
    content: "\42";
}
.dl-icon-cart8:before {
    content: "\43";
}
.dl-icon-cart9:before {
    content: "\44";
}
.dl-icon-cart10:before {
    content: "\45";
}
.dl-icon-cart11:before {
    content: "\46";
}
.dl-icon-cart12:before {
    content: "\47";
}
.dl-icon-cart13:before {
    content: "\48";
}
.dl-icon-cart14:before {
    content: "\49";
}
.dl-icon-cart15:before {
    content: "\4a";
}
.dl-icon-cart16:before {
    content: "\4b";
}
.dl-icon-cart17:before {
    content: "\4c";
}
.dl-icon-cart18:before {
    content: "\4d";
}
.dl-icon-cart19:before {
    content: "\4e";
}
.dl-icon-cart20:before {
    content: "\4f";
}
.dl-icon-cart21:before {
    content: "\50";
}
.dl-icon-cart22:before {
    content: "\51";
}
.dl-icon-cart23:before {
    content: "\52";
}
.dl-icon-cart24:before {
    content: "\53";
}
.dl-icon-cart25:before {
    content: "\54";
}
.dl-icon-cart26:before {
    content: "\55";
}
.dl-icon-heart3:before {
    content: "\56";
}
.dl-icon-comment:before {
    content: "\57";
}
.dl-icon-user1:before {
    content: "\58";
}
.dl-icon-user2:before {
    content: "\59";
}
.dl-icon-user3:before {
    content: "\5a";
}
.dl-icon-user4:before {
    content: "\30";
}
.dl-icon-user5:before {
    content: "\31";
}
.dl-icon-user6:before {
    content: "\32";
}
.dl-icon-user7:before {
    content: "\33";
}
.dl-icon-user8:before {
    content: "\34";
}
.dl-icon-user9:before {
    content: "\35";
}
.dl-icon-user10:before {
    content: "\36";
}
.dl-icon-user11:before {
    content: "\37";
}
.dl-icon-dress:before {
    content: "\38";
}
.dl-icon-pumps:before {
    content: "\39";
}
.dl-icon-tshirt:before {
    content: "\21";
}
.dl-icon-diamon:before {
    content: "\22";
}
.dl-icon-key:before {
    content: "\23";
}
.dl-icon-cart27:before {
    content: "\24";
}
.dl-icon-cart28:before {
    content: "\25";
}
.dl-icon-menu3:before {
    content: "\26";
}
.dl-icon-user12:before {
    content: "\27";
}
.dl-icon-search10:before {
    content: "\28";
}
.dl-icon-star:before {
    content: "\29";
}
.dl-icon-down:before {
    content: "\2a";
}
.dl-icon-left:before {
    content: "\2b";
}
.dl-icon-right:before {
    content: "\2c";
}
.dl-icon-up:before {
    content: "\2d";
}
.dl-icon-check:before {
    content: "\2e";
}
.dl-icon-android-add:before {
    content: "\2f";
}
.dl-icon-plus-circled:before {
    content: "\3a";
}
.dl-icon-zoom-in:before {
    content: "\3b";
}
.dl-icon-menu5:before {
    content: "\3c";
}
.dl-icon-menu4:before {
    content: "\3d";
}
.dl-icon-format-video:before {
    content: "\3e";
}
.dl-icon-format-image:before {
    content: "\3f";
}
.dl-icon-format-gallery:before {
    content: "\40";
}
.dl-icon-format-music:before {
    content: "\5b";
}
.dl-icon-format-link:before {
    content: "\5d";
}
.dl-icon-format-quote:before {
    content: "\5e";
}
.dl-icon-view-1:before {
    content: "\5f";
}
.dl-icon-view:before {
    content: "\60";
}
.dl-icon-cart29:before {
    content: "\7b";
}
.dl-icon-heart4:before {
    content: "\7c";
}
.dl-icon-compare:before {
    content: "\7d";
}
.dl-icon-check-circle1:before {
    content: "\7e";
}
.dl-icon-check-circle2:before {
    content: "\5c";
}
.dl-icon-cart30:before {
    content: "\e000";
}
.dl-icon-search-list:before {
    content: "\e001";
}

.specificity_image_select.la-field-image_select label {
    max-width: 240px;
    vertical-align: top;
}

.la-footer .la-block-right {
    display: none;
}

/*.hidden-on-customize{*/
/*display: none;*/
/*}*/


.la-groups.la-accordion.ui-widget {
    font: inherit;
}
.la-groups.la-accordion.ui-widget button{
    font-family: inherit;
}
.la-alpha-slider.ui-widget-content {
    background: none;
    border: none;
}
.la-field-group .ui-accordion-header-icon {
    background: none !important;
}
.la-field-group .la-group-title {
    border-radius: 0;
}

.slickZoomIn{
    -webkit-animation-name: slickZoomIn;
    animation-name: slickZoomIn;
}

@-webkit-keyframes slickZoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.8, .8, .8);
    }
    50% {
        opacity: 1;
    }
}
@keyframes slickZoomIn {
    from {
        opacity: 0;
        transform: scale3d(.8, .8, .8);
    }

    50% {
        opacity: 1;
    }
}