.laicon-three-dots{
  &,
  &:before,
  &:after{
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: inherit;
    width: 4px;
    display: inline-block;
    border-radius: 3px;
    transition: .25s ease-in-out;
  }
  position: relative;
  top: -2px;
  &:before,
  &:after{
    content: "";
    position: absolute;
    top: -4px;
  }
  &:before{
    left: -10px;
  }
  &:after{
    right: -10px;
  }
  span{
    width: 35px;
    display: inline-block;
    height: 0;
    position: absolute;
    top: -3px;
    left: 50%;
    &:before,
    &:after{
      content: "";
      position: absolute;
      border-top-width: 2px;
      border-top-style: solid;
      border-top-color: inherit;
      width: 100%;
      left: -50%;
      top: 0;
      opacity: 0;
      transition: .25s ease-in-out;
      @include rotate(0);
    }
  }
}


.header--aside:not(#masthead_aside) {
  position: fixed;
  top: 0;
  width: 470px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  right: 0;
  visibility: hidden;
  opacity: 0;
  @include transition(all 400ms ease-out);
  @include translate2d(200px,0);
  &.fixed-bottom {
    position: fixed;
    top: auto;
    bottom: 0;
  }
  .header-aside-inner{
    padding: 70px;
  }
}

#header_aside{
  @include box-shadow(0px 0px 87px 0px rgba(0, 0, 0, 0.09));
  .header-aside-wrapper {
    display: block;
    height: 100%;
  }
  .header-aside-inner{
    overflow: auto;
    height: 100%;
  }
  .btn-aside-toggle{
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 9;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    @extend %text-color-secondary;
    i{
      line-height: inherit;
      transition: all .3s ease-in-out;
      display: inherit;
    }
    &:hover{
      @extend %text-color-primary;
      > i{
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}

#masthead_aside,
#header_aside{
  .accordion-menu{
    .menu{
      li{
        a{
          display: block;
          padding: 5px 0;
          font-weight: bold;
        }
        > .narrow{
          display: none;
          width: 30px;
          text-align: right;
          right: -25px;
          top: -1px;
          i{
            width: 14px;
          }
        }
        li li{
          a{
            font-weight: normal;
          }
        }
      }
      > li{
        > a{
          font-size: 18px;
        }
        > .narrow{
          top: 3px;
        }
      }
    }
    li > ul{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.open-header-aside{
  #header_aside{
    visibility: visible;
    opacity: 1;
    @include translate2d(0,0);
  }
  .la-overlay-global {
    visibility: visible;
    opacity: 0.7;
  }
}

#masthead_aside{
  @include box-shadow(0px 0px 60px 0px rgba(41, 44, 58, 0.06));
  position: absolute;
  top: 0;
  width: 330px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  -webkit-transition: all 1s;
  transition: all 1s;
  .site-branding{
    float: none;
    margin: 0;
    line-height: normal;
    max-width: 100%;
    .logo--transparency{
      display: none;
    }
  }
  .header-left{
    width: 100%;
    margin-bottom: 30px;
  }
  .header-right,
  .header-middle{
    width: 100%;
  }
  .header-aside-nav{
    ul.menu{
      > li{
        margin-bottom: 5px;
        > a{
          display: block;
          padding: 10px 0;
          font-size: 18px;
          font-weight: bold;
          line-height: 30px;
        }
        ul{
          padding-top: 10px;
          padding-bottom: 10px;
        }
        li{
          a{
            display: block;
            padding: 3px 0;
          }
        }
      }
    }
  }
  .header-bottom{
    padding-top: 20px;
  }
}

.header--aside{
  .mega-menu{
    margin-left: -30px;
    margin-right: -30px;
    > li{
      margin-bottom: 5px;
      > a{
        padding: 10px 30px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }
  .header-widget-bottom{
    .widget-title{
      margin-bottom: 25px;
    }
    .widget{
      margin-bottom: 30px;
    }
  }
}


.header--menu-burger{
  position: fixed;
  top: 0;
  width: 350px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease-out;
  @include translate2d(200px,0);
  @include box-shadow(0px 0px 60px 0px rgba(41, 44, 58, 0.06));
  .admin-bar & {
    top: 32px;
  }
  .btn-aside-toggle{
    font-size: 20px;
    display: block;
    position: absolute;
    top: 6%;
    right: 10%;
    padding: 10px;
    line-height: 20px;
    transition: all .3s;
    i{
      display: block;
    }
    &:hover{
      @include rotate(90deg);
    }
  }
  .header_menu-burger-inner{
    padding: 70px 70px 40px;
    font-size: 14px;
    line-height: 30px;
    opacity: 0;
    visibility: hidden;
    @include single-transition(all, 0.5s);
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .nav-menu-burger{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    padding-top: 5vh;
  }
  .menu > li{
    opacity: 0;
    @include translate2d(0,30px);
    @include single-transition(all, 0.4s);
    transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
    padding: 8px 0;
    > a{
      font-size: 18px;
      font-weight: bold;
      display: block;
    }
    .narrow{
      height: 40px;
      line-height: 40px;
      i{
        margin-top: 22px;
      }
    }
    ul{
      padding: 10px 0 0;
    }

    li{
      padding: 5px 0;
      > .narrow{
        i{
          margin-top: 19px;
        }
      }
    }

    &:nth-child(1){
      transition-delay: 250ms;
      -webkit-transition-delay: 250ms;
    }
    &:nth-child(2){
      transition-delay: 300ms;
      -webkit-transition-delay: 300ms;
    }
    &:nth-child(3){
      transition-delay: 350ms;
      -webkit-transition-delay: 350ms;
    }
    &:nth-child(4){
      transition-delay: 400ms;
      -webkit-transition-delay: 400ms;
    }
    &:nth-child(5){
      transition-delay: 450ms;
      -webkit-transition-delay: 450ms;
    }
    &:nth-child(6){
      transition-delay: 500ms;
      -webkit-transition-delay: 500ms;
    }
    &:nth-child(7){
      transition-delay: 550ms;
      -webkit-transition-delay: 550ms;
    }
    &:nth-child(8){
      transition-delay: 600ms;
      -webkit-transition-delay: 600ms;
    }
  }
}
.open-burger-menu{
  .header--menu-burger{
    visibility: visible;
    opacity: 1;
    @include translate2d(0,0);
    .header_menu-burger-inner{
      visibility: visible;
      opacity: 1;
    }
    .menu > li{
      opacity: 1;
      @include translate2d(0,0);
    }
  }
  .la-overlay-global {
    visibility: visible;
    opacity: 0.7;
  }
}


.header-v5,
.header-v4,
.header-v3,
.header-v2{
  .header--aside {
    .mega-menu {
      > li {
        .tip{
          right: auto;
        }
        > a{
          text-align: left;
        }
      }
    }
  }
}

.header-v7{
  .site-inner{
    position: relative;
  }
  #header_aside{
    width: 280px;
    .header-aside-wrapper{
      overflow: auto;
      &:before{
        content: '';
        display: inline-block !important;
        height: 100%;
        vertical-align: middle;
        margin-right: -.5em;
      }
      .header-aside-inner{
        height: auto;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        margin-top: -50px;
      }
    }
  }
  #masthead_aside{
    width: 100px;
    position: fixed;
    box-shadow: none;
    .site-header-inner{
      padding: 30px 0;
      min-height: 100%;
      position: relative !important;
      .container {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .header-right{
      position: absolute;
      text-align: center;
      top: 50%;
      left: 0;
      margin: -20px 0 0;
      @include translate2d(0,-50%);
      .la_com_action--aside_header{
        width: 100%;
      }
      a{
        display: block;
        margin: 0 auto;
      }
    }
  }
  &.admin-bar{
    #masthead_aside{
      padding-top: 32px;
    }
  }
  &:not(.rtl){
    #header_aside{
      right: auto;
      left: 100px;
      @include translate2d(-100px, 0);
      .header-aside-wrapper{
        .header-aside-inner{
          padding: 0 30px 0 50px;
        }
      }
    }
    #masthead_aside{
      left: 0;
    }
    #page.site{
      padding-left: 100px;
    }
  }
  &.rtl{
    #header_aside{
      left: auto !important;
      right: 100px !important;
      transform: translate(100px, 0) !important;
      -ms-transform: translate(100px, 0) !important;
      -webkit-transform: translate(100px, 0) !important;
      .header-aside-wrapper{
        .header-aside-inner {
          padding: 0 50px 0 30px;
        }
      }
    }
    #masthead_aside{
      right: 0;
    }
    #page.site{
      padding-right: 100px;
    }
    .header--menu-burger {
      left: 0;
      right: 100px;
      width: auto;
    }
  }
  &.open-header-aside{
    &:not(.rtl){
      #header_aside{
        @include translate2d(0, 0);
        box-shadow: 0px 0px 60px 0px rgba(41, 44, 58, 0.06);
      }
    }
    &.rtl{
      #header_aside{
        transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        -webkit-transform: translate(0, 0) !important;
        box-shadow: 0px 0px 60px 0px rgba(41, 44, 58, 0.06);
      }
    }
    .laicon-three-dots{
      width: 0;
      &:before{
        left: 0;
        opacity: 0;
      }
      &:after{
        right: 0;
        opacity: 0;
      }
      span{
        &:before{
          @include rotate(45deg);
          opacity: 1;
        }
        &:after{
          @include rotate(-45deg);
          opacity: 1;
        }
      }
    }
  }
}

.header-v6{
  #masthead_aside{
    width: 370px;
    .site-header-inner {
      padding: 70px 80px 50px;
      .container{
        padding-left: 0;
        padding-right: 0;
      }
    }
    .header-left{
      margin-bottom: 50px;
      text-align: center;
    }

    .header-middle{
      margin-bottom: 50px;
      text-align: center;
      .header-component-inner{
        display: inline-block;
        vertical-align: middle;
      }
    }
    .header-bottom{
      padding-top: 60px;
    }
    .accordion-menu li > ul{
      margin: 0;
    }
    .mega-menu > li > a{
      padding: 15px 30px;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.5em;
      text-align: center;
      letter-spacing: 2px;

    }
    .mega-menu .tip{
      right: auto;
    }
  }
  &:not(.rtl){
    #masthead_aside{
      left: 0;
    }
    #page.site{
      padding-left: 370px;
    }
  }
  &.rtl{
    #masthead_aside{
      right: 0;
    }
    #page.site{
      padding-right: 370px;
    }
  }

  &.enable-main-fullwidth{
    &.rtl{
      .site-header-top > .container,
      .section-page-header .container,
      .wc-toolbar-container .container,
      .site-main .container{
        padding-right: 15px;
      }
    }
    &:not(.rtl){
      .site-header-top > .container,
      .section-page-header .container,
      .wc-toolbar-container .container,
      .site-main .container{
        padding-left: 15px;
      }
    }
  }

  .site-header .site-header-top {
    position: fixed;
    left: 370px;
    right: 0;
    z-index: 3;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .header-top-elements {
    float: right;
  }
}


#header_aside .accordion-menu .menu li a{
  padding: 15px 0;
}